td {
  /* border: 1px solid #666; */
  word-break: break-all;
  /* width: 200px; */
}

tr {
  height: 25px !important;
  overflow-x: scroll;
}

th.subject {
  width: 30%;
}

th.data {
  width: 70%;
}
